<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header.html :: common-header"/>

<body>
<div th:replace="common/header.html :: navbar"/>
<div class="main_container">
    <form class="course-search-form">
        <div class="col" id="autocomplete-container">
            <div class="row">
                <input class="form-control" autocomplete="off" type="text" placeholder="Search by course code or name" aria-label="Search" id="course-search-input">
            </div>
        </div>
    </form>
</div>
<div id="course-container">
    <div id="course-name-container">
        <h1 class="" th:text="${course.coursePK.courseCode + ' ' + course.coursePK.credits}">

            Something went wrong.
        </h1>
        <h1 class="" th:text="${course.name}">
            Something went wrong.
        </h1>
    </div>
    <nav id="course-nav">
        <div class="nav nav-tabs bg-dark nav-dark" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#course-description-container" role="tab" aria-controls="course-description-container" aria-selected="true">Info</a>
            <a class="nav-item nav-link" id="nav-schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="nav-schedule-tab">Schedule</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div  class="tab-pane fade show active" id="course-description-container" role="tabpanel" aria-labelledby="nav-description-tab">
            <p id="course-description" th:text="${course.description}"></p>
        </div>
        <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="nav-schedule-tab">
            <div class="course-section" th:each="courseSection: ${courseOfferings}">
                <div class="section-info">
                    <h5 class="section-header" th:text="${'Section: ' + courseSection.section + '   Term: ' +  courseSection.term}">
                    </h5>
                    <h5 class="section-header" th:text="${'Section Director: ' + courseSection.director}">
                    </h5>
                </div>
                <table class="section-lecture-table table table-dark table-striped">
                    <tr>
                        <th scope="col" class="lecture-time-unit">
                            Lecture Type
                        </th>
                        <th scope="col" class="lecture-time-unit">
                            Day
                        </th>
                        <th scope="col" class="lecture-time-unit">
                            Time
                        </th>
                        <th scope="col" class="lecture-time-unit">
                            Duration
                        </th>
                        <th scope="col" class="lecture-time-unit">
                            Location
                        </th>
                        <th scope="col" class="lecture-time-unit">
                            Instructor
                        </th>
                        <th scope="col" class="lecture-time-unit">
                            CAT #
                        </th>
                    </tr>
                    <div th:each="courseLecture: ${courseSection.courseLectures}" th:with="numLectures=${courseLecture.day.split(courseLecture.SEPARATOR).length}">
                        <tr scope="col" th:each=" count :  ${#numbers.sequence(0, numLectures - 1)}" th:with="days=${courseLecture.day.split(courseLecture.SEPARATOR)},times=${courseLecture.startTime.split(courseLecture.SEPARATOR)},locations=${courseLecture.location.split(courseLecture.SEPARATOR)},durations=${courseLecture.duration.split(courseLecture.SEPARATOR)}">
                            <th scope="col" class="lecture-time-unit" th:if="${count==0}" th:text="${courseLecture.type}"></th>
                            <th scope="col" class="lecture-time-unit" th:unless="${count==0}" th:text="${''}"></th>
                            <th scope="col" class="lecture-time-unit" th:text="${days[count]}"></th>
                            <th scope="col" class="lecture-time-unit" th:text="${times[count]}"></th>
                            <th scope="col" class="lecture-time-unit" th:text="${durations[count]}"></th>
                            <th scope="col" class="lecture-time-unit" th:text="${locations[count]}"></th>
                            <th scope="col" class="lecture-time-unit" th:text="${courseLecture.instructor}"></th>
                            <th scope="col" class="lecture-time-unit" th:text="${courseLecture.CAT}"></th>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>



</div>
<script src="/js/content.js"></script>
<script src="/js/course.js"></script>
</body>
</html>