<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header.html :: common-header"/>

<body>


<div th:replace="common/header.html :: navbar"/>
<div class="main_container">
    <form class="course-search-form">
        <div class="col" id="autocomplete-container">
            <div class="row">
                <input class="form-control" autocomplete="off" type="text" placeholder="Search by course code or name" aria-label="Search" id="course-search-input">
            </div>
        </div>
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/content.js"></script>
</body>
</html>