<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151223675-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151223675-1');
    </script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Search for courses at York University"/>
    <title th:if="${course}" th:text="${course.coursePK.courseCode}"></title>
    <title th:unless="${course}">YUHelper</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="icon" href="/favicon.png">
</head>

<body>
<div th:fragment="navbar">
    <!-- Static navbar -->
    <nav class="navbar navbar-dark bg-dark border-bottom border-danger">
        <a class="navbar-brand" href="#">
            <img src="/img/icon.png" width="40" height="40" class="d-inline-block">
            Beta
        </a>
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        <a th:if="${user}" class="nav-item nav-link" href="/logout">Logout</a>
        <a th:unless="${user}" class="nav-item nav-link" href="/login">Login</a>
        <a th:if="${user}" th:text="${user.username}" class="nav-item nav-link"></a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="quick-links-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quick Links
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="https://wrem.sis.yorku.ca/Apps/WebObjects/REM.woa/wa/DirectAction/rem">REM</a>
                <a class="dropdown-item" href="https://schedulebuilder.yorku.ca/">Schedule Builder</a>
                <a class="dropdown-item" href="https://w2prod.sis.yorku.ca/Apps/WebObjects/cdm.woa/wa/DirectAction/cds">Plot my timetable</a>
            </div>
        </div>
        <a class="nav-item nav-link">More features coming soon!</a>
    </nav>
</div>

<div th:fragment="body-bottom-scripts">

</div>
</body>
</html>