body{
    background: #2c3747;
    color: white;
    font-family: sans-serif, Serif;
}

#welcome_page_container{
    padding-bottom: 56.25%;
    position: relative;
}

#welcome_page_login_form{
    margin-top: 5vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#login-header-text{
    font-size: 30px;
    margin-top: 30px;
}

.main_container{
    height: 100%;
}

#login-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login_page_button{
    margin-left: auto;
    background: dodgerblue;
    color: black;
    margin-top: 10px;
}

#password-login{
    margin-top: 10px;
}


.nav-link{
    color:white;
    border-bottom: 3px black;
}

.error_active{
    visibility: visible;
}

.error_inactive{
    visibility: hidden;
}

.course-search-form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
}

#autocomplete-container{
    border-radius: 5px;
    border: grey  solid 1px;
    border-top: none;
}

#sign-up-form{
    align-content: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.signup-header{
    text-align: left;
    font-size: 16px;
}

.invalid-feedback{
    align-self: center;
}


#sign-up-container{
    text-align: center;
}

.form-control {
    border-radius: 0;
}

.ui-widget-content, .ui-autocomplete, .ui-front {
    visibility: hidden;
}

.list-group-item {
    width: 100%;
    border-radius: 0;
    background: #2F353B;
    color: white;
}


.form-group{
    border-radius: 3px;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}

.nav-tabs {
    border: solid 1px black;
}

#course-container {
    padding-top: 30px;
    padding-left: 2em;
    padding-right: 2em;
}

.nav-link.active{
    color: white;
    background-color: #2c3747;
    border-color: #dee2e6 #dee2e6 black;
}

#course-nav{
    box-shadow: 2px 2px 3px black;
}

.course-section{
    border-radius: 10px;
    border: black 1px solid;
    background-color: #2F353B;
    margin-top: 15px;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}

#course-description-container {
    margin-top: 25px;
    width: 70vw;
}

.section-header{
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;

}

#feature-alert{
    padding-right: 25%;
    padding-left: 25%;
}

.section-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert {
    margin-top: 10px;
}

.jumbotron {
    margin: 2rem 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}

.my-4{
    border-color: gray;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.successIcon {
    background-image: url("/img/checkmark-32.png");
    animation: fadeIn 3s linear, fadeOut 2s;
    width: 32px;
    height: 32px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


